<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lunch Vote</title>
  </head>
  <body>
    <h1>What's for lunch tomorrow?</h1>

    {% load static %}

    <img src="{% static 'media/image.png' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'lunch_app/style.css' %}">

    <br/>
    Here you can vote for lunch, which we will serve in the canteen the next working day.
    <br/> <br/>
    The theme for the next lunch is ...
    <br/>

      {% if next_lunch %}
      <ul>
      {% for lunch in next_lunch %}
      <a href="{% url 'lunch_app:detail' lunch.id %}">{{ lunch.lunch }}</a></li>    {% endfor %}
      </ul>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}
  </body>
</html>